.plus-minus-button.collapse-nav-button:before {
    /*content: "\2212";*/
    content: "\e114"
}
.collapsed .plus-minus-button.collapse-nav-button:before {
    /*content:  "\2b";*/
    content: "\e080";
}
.panel-group {
    margin-top: 30px;
}