{% extends 'fiim/base.html' %}

{% block content %}
<div id="menu-container">
       <div class="content about animated fadeInDown" id="menu-1">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-10">
						<div class="about-us-content">
							<div class="toggle-content" id="tab1">
								<h2 class="page-title">Цели</h2>
								<ul>
									<li>Объединить клубы, играющие в игру “Мафия” по классическим правилам, в федерацию интеллектуальной игры Мафия.</li>
									<li>Проводить чемпионаты среди клубов ФИИМ.</li>
									<li>Установить единые правила проведения чемпионатов среди клубов ФИИМ.</li>
									<li>Установить календарь и график проведения отборочных турниров ичемпионатов среди клубов ФИИМ.</li>
								</ul>
								<p>
									<img src="/static/fiim/images/main/ernest_fedorov.jpg" alt="Президент ФИИМ Эрнест Федоров" class="img-responsive img_right" width="350px">
									Федерация интеллектуальной игры мафия создана с целью объединения всего мафиозного движения Украины и дружественных клубов из разных стран. Все маф-клубы, вошедшие в ФИИМ, принимают участие в различных турнирах и чемпионатах, как городских, так и международных.
									<br>Мафиозные чемпионаты и турниры – это всегда настроение праздника, дружбы, азарта и новых впечатлений. Так как, мафиозное движение стремительно набирает обороты в разных городах мира и «мафия» уже стала не просто игрой, а настоящим спортивным состязанием, по-этому и возникла необходимость объединить игроков, создать и отрегулировать единые правила и систему подсчета баллов в игре. В будущем, я вижу федерацию, как мировую спортивную организацию, которая сплотит всех мафиозных игроков и даст возможность проводить чемпионаты и турниры среди участников и команд из разных стран мира и игра «мафия» получит официальный статус спортивной интеллектуальной игры!
								</p>
							</div> <!-- /.toggle-content -->
							<div class="toggle-content" id="tab2">
								<h2 class="page-title">История</h2>
                                <p>История Федерации - текст + фото</p>
                            </div> <!-- /.toggle-content -->
							<div class="toggle-content" id="tab3">
								<h2 class="page-title">Манифест</h2>
								<p>С момента своего зарождения и до сегодняшнего дня, игра Мафия была, есть и будет сообществом интеллектуальных и независимых людей.
                                    Главным фундаментальным принципом интеллектуальной игры "Мафия" есть равенство членов сообщества друг с другом, вне зависимости от возраста, пола, расы, вероисповедания и др.
                                    <br>Мир Мафии - это доверенный круг людей, свободных от политики, предрассудков, дискриминации и других разобщающих элементов, разъединяющих наше добровольное сообщество.
                                    <br>Вторым фундаментальным принципом сообщества игроков "Мафии" есть принятие интеллекта, сообразительности, хитрости, стрессоустойчивости, находчивости, ораторского искусства, глубокого ума, рассудительности и мастерства убеждения, как единственных ценностей по которым и происходит ранжирование игроков.
                                    <br>Присоединяясь к всемирному сообществу игроков "Мафии" и подписываясь под этим манифестом, я принимаю фундаментальные принципы нашего сообщества, построенные на взаимном уважении и доверии друг к другу.
                                    <br>Любые вольные или невольные демонстрационные попытки разобщить или самоустраниться в следствии политических или любых иных неигровых причин, навязанных стереотипами окружающего мира, будут считаться фактом предательства самих основ нашего сообщества и иметь соответствующие последствия.
                                    <br>Так было, есть и будет.
                                    <br>Президиум ФИИМ
                                </p>
							</div> <!-- /.toggle-content -->
						</div> <!-- /.inner-content -->
					</div> <!-- /.col-md-9 -->
					<div class="col-md-3 col-sm-2">
						<div id="icons-about">
							<ul class="tabs">
								<li>
									<a href="#tab1" class="icon-item">
										<i class="fa fa-check-circle"></i>
										<span>Цели</span>
									</a> <!-- /.icon-item -->
								</li>
								<li>
									<a href="#tab2" class="icon-item">
										<i class="fas fa-history"></i>
										<span>История</span>
									</a> <!-- /.icon-item -->
								</li>
								<li>
									<a href="#tab3" class="icon-item">
										<i class="fa fa-exclamation-circle"></i>
										<span>Манифест</span>
									</a> <!-- /.icon-item -->
								</li>
							</ul>
						</div> <!-- /.icons -->
					</div> <!-- /.col-md-3 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.services -->
</div>

{% endblock %}
{% block scripts %}
<script>
	set_active("templatemo_home");
</script>
{% endblock %}