{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

	<title>ФИИМ</title>
    <meta name="keywords" content="" />
	<meta name="description" content="" />
<!-- 
Concept Template 
http://www.templatemo.com/tm-397-concept 
-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800&amp;subset=cyrillic" rel="stylesheet">
    <link rel="icon" href="static/fiim/images/favicon.ico" type="image/x-icon">

	<!-- CSS Bootstrap & Custom -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static "fiim/css/animate.css" %}">
    <link rel="stylesheet" href="{% static "fiim/css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "fiim/css/templatemo_misc.css" %}">

    {% block head %}
	{% endblock %}

	<!-- Main CSS -->
    <link rel="stylesheet" href="{% static "fiim/css/main.css" %}">
	<link rel="stylesheet" href="{% static "fiim/css/templatemo_style.css" %}">

	<!-- Favicons -->
    <link rel="shortcut icon" href="{% static "fiim/images/ico/favicon.ico" %}">



</head>
<body>
	

	<div class="site-header">
		<div class="main-navigation">
			<div class="responsive_menu">
				<ul>
					<li><a class="show-1 templatemo_home" href="{% url 'about' %}">О ФИИМ</a></li>
					<li><a class="show-2 templatemo_page2" href="{% url 'officials' %}">Руководство</a></li>
					<li><a class="show-3 templatemo_page3" href="{% url 'documents' %}">Документы</a></li>
					<li><a class="show-4 templatemo_page4" href="{% url 'partners' %}">Партнеры</a></li>
					<li><a class="show-5 templatemo_page5" href="{% url 'contact' %}">Контакт</a></li>
				</ul>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 responsive-menu">
						<a href="#" class="menu-toggle-btn">
				            <i class="fa fa-bars"></i>
				        </a>
					</div> <!-- /.col-md-12 -->
					<div class="col-md-12 main_menu">
						<ul>
							<li><a class="show-1 templatemo_home" href="{% url 'about' %}">О ФИИМ</a></li>
							<li><a class="show-2 templatemo_page2" href="{% url 'officials' %}">Руководство</a></li>
							<li><a class="show-3 templatemo_page3" href="{% url 'documents' %}">Документы</a></li>
							<li><a class="show-4 templatemo_page4" href="{% url 'partners' %}">Партнеры</a></li>
							<li><a class="show-5 templatemo_page5" href="{% url 'contact' %}">Контакт</a></li>
						</ul>
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.main-navigation -->
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<a href="#" class="templatemo_logo">
						<img src="static/fiim/images/fiim_logo_cyr.png" width="400px">
					</a> <!-- /.logo -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.site-header -->
	{% block content %}
	{% endblock %}
	<div id="templatemo_footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<p>Copyright &copy; 2018 Mafia Federation</p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.templatemo_footer -->

	<!-- Scripts -->
    <script src="{% static "fiim/js/jquery-migrate-1.2.1.min.js" %}"></script>
    <script src="{% static "fiim/js/modernizr.js" %}"></script>
	<script src="{% static "fiim/js/tabs.js" %}"></script>
	<script src="{% static "fiim/js/jquery.lightbox.js" %}"></script>
	<script src="{% static "fiim/js/templatemo_custom.js" %}"></script>
	{% block scripts %}
	{% endblock %}
</body>
</html>