{% extends 'fiim/base.html' %}
{% load message_tags %}

{%block meta%}
<meta name="description" content="Контанты федерация интеллектуальной игры мафия – официальный сайт ФИИМ" />
{%endblock%}

{% block content %}
<div id="menu-container">
    <div class="content contact animated fadeInDown" id="menu-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget-content">
                        <div class="page-title"><h1>Контакты</h1></div>
                        <div class="contact-information">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <p>Украина, Киев, ул. Красноармейская 72</p>
                                </div> <!-- /.col-md-6 -->
                                <div class="col-md-6 col-sm-6 text-right">
                                    <ul>
                                        <li>Телефон: +38 (067) 673-09-74</li>
                                        <li>Email: maffederation@gmail.com</li>
                                    </ul>
                                </div> <!-- /.col-md-6 -->
                            </div> <!-- /.row -->
                            <div class="row text-center contact-icons">
                                <a href="https://www.facebook.com/fiimaf/" target="_blank">
                                    <i class="fab fa-facebook-square"></i>
                                </a>
                                <a href="https://vk.com/federation_mafia" target="_blank">
                                    <i class="fab fa-vk"></i>
                                </a>
                                <a href="https://www.youtube.com/channel/UCrGjW5zLY0ADh5Yfev5vo2A" target="_blank">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                            <h2 class="product-title">Судейский комитет</h2>
                            <p>E-mail: skfiim11@gmail.com</p>
                            <p>Глава: Андрей Фокин</p>
                            <div class="row text-center contact-icons">
                                <a href="https://vk.com/skfiim" target="_blank">
                                    <i class="fab fa-vk"></i>
                                </a>
                                <a href="https://www.youtube.com/channel/UCysd8ar2Hii2MHvV4HYXhVA" target="_blank">
                                    <i class="fab fa-youtube"></i>
                                </a>
                                <a href="https://drive.google.com/open?id=0B8td7ScooMxhd0Z0MGZiRkNOVkk" target="_blank">
                                    <i class="fab fa-google-drive"></i>
                                </a>
                            </div>
                            <h2 class="product-title">Дисциплинарный комитет</h2>
                            <p>E-mail: dkfiim777@gmail.com</p>
                            <p>Глава: Виталий Слуцкер</p>
                            <div class="row text-center contact-icons">
                                <a href="https://drive.google.com/open?id=1i94NP-t4mnnG2c7KCeDzqNaAip-KH4jG" target="_blank">
                                    <i class="fab fa-google-drive"></i>
                                </a>
                            </div>
                        </div> <!-- /.contact-information -->
                    </div> <!-- /.inner-content -->
                </div> <!-- /.col-md-6 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.contact -->
</div>
{% endblock %}
{% block scripts %}
<script>
	set_active("templatemo_page5");

</script>
{% endblock %}
