{% extends 'fiim/base.html' %}

{% block content %}
<div id="menu-container">
    <div class="content services animated fadeInDown" id="menu-3">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-10">
                    <div class="inner-content">
                        {% for document_type in document_types %}
                        <div class="toggle-content" id="tab{{forloop.counter|stringformat:'s'}}">
                            <h2 class="page-title">{{document_type.name}}</h2>
                            <div class="panel-group" id="{{document_type.code}}Accordion">
                                {% for doc in document_type.published_documents %}
                                {% with doc_id=doc.id|stringformat:'s' %}
                                <div class="panel panel-default ">
                                    <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse"
                                         data-parent="#fiimAccordion" data-target="{{'#document'|add:doc_id}}">
                                        <div class="panel-title">
                                            <a href="#" class="ing">
                                                <i class="plus-minus-button collapse-nav-button glyphicon"></i>
                                                {{doc.title}} от {{doc.created_at|date:'d.m.Y'}}
                                            </a>

                                        </div>
                                    </div>
                                    <div id="{{'document'|add:doc_id}}" class="panel-collapse collapse"
                                         style="height: 0px;">
                                        <div class="panel-body">
                                            <div class="panel-title pull-right">
                                                <a href="{{doc.pdf.url}}" download>
                                                    <i class="fas fa-download"></i>
                                                </a>
                                                <a href="{{doc.pdf.url}}" target="_blank">
                                                    <i class="fas fa-external-link-alt"></i>
                                                </a>
                                            </div>
                                            {{ doc.content|safe }}
                                        </div>
                                    </div>
                                </div>
                                {% endwith %}
                                {% endfor %}
                            </div>
                            <!--/panel-group-->
                        </div> <!-- /.toggle-content -->
                    {% endfor %}

                    </div> <!-- /.inner-content -->
                </div> <!-- /.col-md-9 -->
                <div class="col-md-3 col-sm-2">
                    <div id="icons">
                        <ul class="tabs">
                            {% for document_type in document_types %}
                            <li>
                                <a href="#tab{{forloop.counter|stringformat:'s'}}" class="icon-item">
                                    <i class="{{document_type.icon}}"></i>
                                    <span>{{document_type.name}}</span>
                                </a> <!-- /.icon-item -->
                            </li>
                            {% endfor %}
                        </ul>
                    </div> <!-- /.icons -->
                </div> <!-- /.col-md-3 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.services -->
</div>
{% endblock %}
{% block scripts %}
<script>
	set_active("templatemo_page3");

</script>
{% endblock %}