{% extends 'fiim/base.html' %}

{% block content %}
<div id="menu-container">
		<div class="content services" id="menu-3">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-10">
						<div class="inner-content">
							<div class="toggle-content" id="tab1">
								<h2 class="page-title">Нормативные документы</h2>
								{% for doc in documents.fiim %}
								<ul>
									<li>{{doc.title}} от {{doc.created_at}}</li>
								</ul>
								{% endfor %}
							</div> <!-- /.toggle-content -->
							<div class="toggle-content" id="tab2">
								<h2 class="page-title">Приказы</h2>
								{% for doc in documents.order %}
								<ul>
									<li>{{doc.title}} от {{doc.created_at}}</li>
								</ul>
								{% endfor %}
							</div> <!-- /.toggle-content -->
							<div class="toggle-content" id="tab3">
								<h2 class="page-title">Протоколы собраний</h2>
								{% for doc in documents.protocol %}
								<ul>
									<li>{{doc.title}} от {{doc.created_at}}</li>
								</ul>
								{% endfor %}
							</div> <!-- /.toggle-content -->
                            <div class="toggle-content" id="tab4">
								<h2 class="page-title">Судейский комитет</h2>
								{% for doc in documents.sk %}
								<ul>
									<li>{{doc.title}} от {{doc.created_at}}</li>
								</ul>
								{% endfor %}
                            </div>
                            <div class="toggle-content" id="tab5">
								<h2 class="page-title">Дисциплинарный комитет</h2>
								{% for doc in documents.dk %}
								<ul>
									<li>{{doc.title}} от {{doc.created_at}}</li>
								</ul>
								{% endfor %}
                            </div>

						</div> <!-- /.inner-content -->
					</div> <!-- /.col-md-9 -->
					<div class="col-md-3 col-sm-2">
						<div id="icons">
							<ul class="tabs">
								<li>
									<a href="#tab1" class="icon-item">
										<span>Нормативные документы</span>
									</a> <!-- /.icon-item -->
								</li>
								<li>
									<a href="#tab2" class="icon-item">
										<span>Приказы</span>
									</a> <!-- /.icon-item -->
								</li>
								<li>
									<a href="#tab3" class="icon-item">
										<span>Протоколы собраний</span>
									</a> <!-- /.icon-item -->
								</li>
                                <li>
									<a href="#tab4" class="icon-item">
										<span>Судейский комитет</span>
									</a> <!-- /.icon-item -->
								</li>
                                <li>
									<a href="#tab5" class="icon-item">
										<span>Дисциплинарный комитет</span>
									</a> <!-- /.icon-item -->
								</li>
							</ul>
						</div> <!-- /.icons -->
					</div> <!-- /.col-md-3 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.services -->
</div>
{% endblock %}
{% block scripts %}
<script>
	set_active("templatemo_page3");
</script>
{% endblock %}