{% extends 'fiim/base.html' %}

{% block content %}
<div id="menu-container">

		<div class="content products animated fadeInDown" id="menu-2">
			<div class="container">
					<div class="row">
						{% for official in officials %}
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
								<img src="{{official.photo.url}}" alt="{{official.name}}">
								<h3 class="product-title text-center" >{{official.name}}</h3>
								<p class="text-center">{{official.position}}</p>
								<p class="text-center">{{official.region}}</p>
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
						{% endfor %}
					</div> <!-- /.row -->
			</div> <!-- /.slide-item -->
		</div> <!-- /.products -->

</div>
{% endblock %}
{% block scripts %}
<script>
	set_active("templatemo_page2");
</script>
{% endblock %}